p,ol{
    color: #000;
}

#next_page{
    color: white;
    text-align: right;
    background-color: green;
    border: solid 2px green;
    border-radius: 10%;
    display: inline-block;
    margin-left: 90%;
    padding: 14px 25px;
}
#next_page,a{
    color: white;
}

#next_page:hover {
    color: white;
    background-color: red;
    border-color: red;
}